<style>
  #khususHp {
    display: none;
  }
  @media only screen and (max-width: 600px) {
    #khususDekstop {
      display: none;
    }
    #khususHp {
      display: block;
    }
    body {
      padding-bottom: 90px;
    }

    #khususHp .nav-link i {
      font-size: 1.3rem;
    }
    #khususHp .nav-link .d-block {
      font-size: 0.8rem;
      color: rgb(199, 199, 199);
    }
  }
</style>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-light sticky-top"
  id="khususDekstop">
  <a class="navbar-brand" href="/" style="font-family: 'Montserrat' !important">
    <img
      src="/logo.png"
      width="30"
      height="30"
      alt=""
      style="width: 30px !important; height: 30px !important" />
    rejangpedia
  </a>

  <button
    class="navbar-toggler border-0"
    style="border-radius: 0"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Centered navigation items -->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://kamusrejang.rejanglebongkab.go.id">
          <i class="fa fa-book"></i> Kamus Rejang
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new">
          <i class="fa fa-plus"></i> Tambah Artikel
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-bars"></i>
          Daftar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/tentang">
            <i class="fa fa-question" aria-hidden="true"></i> Tentang
          </a>
          <a class="dropdown-item" href="/peraturan">
            <i class="fa fa-ban" aria-hidden="true"></i> Peraturan
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://doma.mfathinhalim.repl.co">
            <i class="fa fa-question-circle" aria-hidden="true"></i> Tentang
            Fathin
          </a>
        </div>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input
          type="text"
          class="form-control search-input mr-1"
          style="border-radius: 12px 8px 8px 12px; padding: 15px; width: 120px"
          id="searchInputNav"
          placeholder="Mau Cari Apa Sanak..." />
        <div class="input-group-append">
          <button
            class="btn btn-primary border-0 mr-1"
            id="searchButtonNav"
            style="border-radius: 8px 12px 12px 8px !important">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-light sticky-top"
  id="khususHp">
  <div class="container">
    <div class="row w-100">
      <div class="col-9 text-center">
        <a
          class="navbar-brand"
          href="/"
          style="font-family: 'Montserrat' !important">
          <strong style="color: white !important; text-align: center !important"
            >rejangpedia</strong
          >
        </a>
      </div>
      <div class="col-3 text-right">
        <a class="navbar-brand" href="/">
          <i class="fa fa-search" style="color: white !important"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<nav
  class="navbar fixed-bottom navbar-expand navbar-light bg-light"
  id="khususHp">
  <ul class="navbar-nav nav-justified w-100">
    <li class="nav-item">
      <a class="nav-link text-white" href="/">
        <i class="fa fa-home"></i>
        <span class="d-block">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/new">
        <i class="fa fa-plus"></i>
        <span class="d-block">Tambah</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        href="https://kamusrejang.rejanglebongkab.go.id">
        <i class="fa fa-book"></i>
        <span class="d-block">Kamus</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/dropdown">
        <i class="fa fa-bars"></i>
        <span class="d-block">Hal lain</span>
      </a>
    </li>
  </ul>
</nav>

<script>
  document
    .getElementById("searchButtonNav")
    .addEventListener("click", function () {
      // Dapatkan teks pencarian
      const searchTerm = document.getElementById("searchInputNav").value;

      // Redirect ke halaman hasil pencarian
      window.location.href = `/search?term=${searchTerm}`;
    });
  const searchInputNav = document.getElementById("searchInputNav");
  searchInputNav.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
      // Dapatkan teks pencarian
      const searchTerm = searchInputNav.value;

      // Redirect ke halaman hasil pencarian
      window.location.href = `/search?term=${searchTerm}`;
    }
  });
</script>
