<nav class="navbar navbar-expand-lg navbar-dark bg-light sticky-top">
  <a class="navbar-brand" href="/">
    <img
      src="/logo.png"
      width="30"
      height="30"
      alt=""
      style="width: 30px !important; height: 30px !important" />
  </a>

  <button
    class="navbar-toggler border-0"
    style="border-radius: 0"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"></li>

      <li class="nav-item">
        <a class="nav-link" href="https://kamusrejang.rejanglebongkab.go.id"
          >Kamus Rejang</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new">Tambah Artikel</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Daftar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/tentang">Tentang</a>
          <a class="dropdown-item" href="/peraturan">Peraturan</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://doma.mfathinhalim.repl.co"
            >Tentang Fathin</a
          >
        </div>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input
          type="text"
          class="form-control search-input mr-1"
          style="border-radius: 12px 8px 8px 12px; padding: 15px"
          id="searchInputNav"
          placeholder="Mau Cari Apa Sanak..." />
        <div class="input-group-append">
          <button
            class="btn btn-primary border-0 mr-1"
            id="searchButtonNav"
            style="border-radius: 8px 12px 12px 8px !important">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  document
    .getElementById("searchButtonNav")
    .addEventListener("click", function () {
      // Dapatkan teks pencarian
      const searchTerm = document.getElementById("searchInputNav").value;

      // Redirect ke halaman hasil pencarian
      window.location.href = `/search?term=${searchTerm}`;
    });
  const searchInputNav = document.getElementById("searchInputNav");
  searchInputNav.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
      // Dapatkan teks pencarian
      const searchTerm = searchInputNav.value;

      // Redirect ke halaman hasil pencarian
      window.location.href = `/search?term=${searchTerm}`;
    }
  });
</script>
