<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add "Bab" Sections</title>
  </head>
  <body>
    <form
      id="babForm"
      action="/new"
      method="post"
      enctype="multipart/form-data">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" />
      </div>

      <input type="hidden" id="content" name="content" />

      <label for="image">Cover Image:</label>
      <input type="file" name="image" class="form-control-file" />

      <button type="button" id="addBab">Add Bab</button>
      <div id="babSections"></div>

      <button type="submit" id="postButton">Posting</button>
    </form>

    <script src="../index.js"></script>
  </body>
</html>
