<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('import.ejs') -%>

    <title>New Article</title>
  </head>
  <body>
    <%- include('navbar.ejs') -%>

    <div class="container mt-5">
      <h1 class="display-4">Artikel Baru</h1>
      <form
        id="babForm"
        action="/new"
        method="post"
        enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" autocomplete="false" id="title" name="title" class="form-control" />
        </div>
        <div class="form-group">
          <label for="link">Link Video (Optional):</label>
          <input type="text" autocomplete="false" id="link" name="link" class="form-control" />
        </div>
        <div class="form-group">
          <label for="pembuat">Pembuat (Optional):</label>
          <input type="text" autocomplete="false" id="pembuat" name="pembuat" class="form-control" />
        </div>

        <input type="hidden" id="content" name="content" />

        <div class="form-group">
          <label for="image">Cover Image:</label>
          <input
            type="file"
            name="image"
            id="image"
            class="form-control-file"
            required />
        </div>
        <div class="form-group">
          <img
            id="preview"
            style="
              width: 460px; /* Default width for desktop */
              max-width: 100%; /* Ensure it's responsive */
              border: 2px solid #ccc;
              object-fit: cover;
              border-radius: 24px;
            "
            class="img-fluid"
            alt="Image" />
        </div>

        <button type="button" id="addBab" class="btn btn-primary">
          Tambah Bab
        </button>
        <div id="babSections" class="mt-3"></div>

        <button
          data-sitekey="6LfslRQoAAAAAHVBGwEVitjEQSjCD6F8unKDUdct"
          data-callback="onSubmit"
          name="g-recaptcha-response"
          id="postButton"
          data-action="submit"
          type="submit"
          class="btn-lg g-recaptcha btn btn-info mt-3 rounded-lg">
          <i class="fa fa-paper-plane" aria-hidden="true"></i> Kirim
        </button>
      </form>
    </div>

    <script src="../index.js"></script>
    <script>
      const input = document.getElementById("image");
      const previewPhoto = () => {
        const file = input.files;
        if (file) {
          const fileReader = new FileReader();
          const preview = document.getElementById("preview");
          fileReader.onload = function (event) {
            preview.setAttribute("src", event.target.result);
          };
          fileReader.readAsDataURL(file[0]);
        }
      };
      input.addEventListener("change", previewPhoto);
    </script>
  </body>
</html>
