<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('import.ejs') -%>
    <title>Rejang Pedia - Peraturan</title>
  </head>
  <body>
    <%- include('navbar.ejs') -%>

    <div class="container mt-5">
      <h1 class="display-4">Peraturan</h1>
      <h3>1. Pedoman Konten</h3>
      <p>
        Kami menghargai kontribusi pengguna, namun konten yang tidak sesuai
        seperti konten berbahaya, spam, atau pelanggaran hak cipta akan dihapus.
      </p>

      <h3>2. Perlindungan Privasi</h3>
      <p>
        Kami menghormati privasi pengguna. Informasi pribadi tidak akan
        dibagikan tanpa izin pengguna.
      </p>

      <h3>3. Hak Cipta</h3>
      <p>
        Seluruh konten yang diunggah ke Rejang Pedia harus mematuhi hak cipta.
      </p>

      <h3>4. Referensi</h3>
      <p>Harap cantumkan Referensi yang anda gunakan.</p>
    </div>
  </body>
</html>
