<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('import.ejs') -%>
    <title>Rejang Pedia - Tentang</title>
  </head>
  <body>
    <%- include('navbar.ejs') -%>

    <div class="container mt-5">
      <h1 class="display-4">Tentang</h1>
      <p>
        Rejang Pedia adalah sumber informasi daring yang ditujukan untuk
        membagikan pengetahuan dan informasi kepada pengguna. Kami berkomitmen
        untuk menyediakan konten berkualitas dan mudah diakses. Aplikasi ini
        dibuat oleh Ananda
        <strong>M.Fathin Halim</strong>
      </p>

      <h3>Tujuan</h3>
      <p>
        Tujuan kami adalah untuk memberikan platform bagi pengguna untuk berbagi
        pengetahuan dan informasi yang bermanfaat.
      </p>

      <h3>Ingin Ikut Membantu dalam RejangPedia ?</h3>
      <p>
        Bisa! Dengan Donasi ke Saweria anda dapat membantu kami dalam
        pengembangan aplikasi ini!
      </p>
      <a href="https://saweria.co/domaTomoharu">Saweria!</a>
    </div>
  </body>
</html>
