<script>
  screen.orientation.lock();
</script>

<style>
  .card-body {
    padding: 2rem;
  }

  body {
    min-height: 200vh;
    color: white !important;
  }

  a {
    color: #00dfa2;
  }


  .navbar.scrolled {
    /* Replace with your desired background color */
  }

  .test {
    padding-top: 50px;
    /* Adjust the value as needed */
  }

  .form-control {
    border-radius: 7px;
    background: rgba(217, 217, 217, 0.28) !important;
    border: 0;
    color: white;
  }
  .form-control::placeholder {
    color: lightgray;
  }
  #phone {
    background-color: rgb(var(--theme-background));
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    width: 667px;
    margin: 100px auto;
  }
  input{
        color: white !important;

  }


  @media (max-width: 500px) {
    #phone {
      width: 100%;
      margin: 0px auto;
    }

    #main-wrapper {
      width: 100%;
    }
  }
  .grecaptcha-badge {
    display: none;
}
</style>


